<!DOCTYPE html>
<html>
<head><title>Update Flight</title></head>
<body>
<h2>Update Flight</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<form method="POST">
    Flight ID: <input type="text" name="flightID" value="{{ flight.flightID }}"><br>
    Origin: <input type="text" name="origin" value="{{ flight.origin }}"><br>
    Destination: <input type="text" name="destination" value="{{ flight.destination }}"><br>
    Date: <input type="date" name="date" value="{{ flight.date }}"><br>
    Time: <input type="time" name="time" value="{{ flight.time }}"><br>
    <input type="submit" value="Update Flight">
</form>
</body>
</html>